<p>
{% assign authorCount = page.author | size %}
{% if authorCount == 0 %}
    {{ page.author }}
{% elsif authorCount == 1 %}
    {{ page.author | first }}
{% else %}
    {% for author in page.author %}
        {% if forloop.first %}
            <a href="{{ site.author.web }}" target="_blank">{{ site.author.name }}</a>
        {% elsif forloop.last %}
            and <a href="{{ site.author.web }}" target="_blank">{{ site.author.name }}</a>
        {% else %}
            , <a href="{{ site.author.web }}" target="_blank">{{ site.author.name }}</a>
        {% endif %}
    {% endfor %}
{% endif %}
</p>