<p>
{% assign authorCount = site[page.author] | size %}
{% if authorCount == 0 %}
    {{ site[page.author] }}
{% elsif authorCount == 1 %}
    {{ site[page.author] | first }}
{% else %}
    {% for author in site[page.author] %}
        {% if forloop.first %}
            <a href="{{ author.web }}" target="_blank">{{ author.name }}</a>
        {% elsif forloop.last %}
            and <a href="{{ author.web }}" target="_blank">{{ author.name }}</a>
        {% else %}
            , <a href="{{ author.web }}" target="_blank">{{ author.name }}</a>
        {% endif %}
    {% endfor %}
{% endif %}
</p>